* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float 3 columns side by side */
  .column {
    float: center;
    width: 33%;
    padding: 0 10px;
    margin: 10px auto 10px auto;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0px auto 10px auto;
 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .btn-group button {
   /* background-color: #04AA6D; /* Green background */
    border: 1px solid rgb(66, 0, 128); /* Green border */
    color: rgb(66, 0, 128); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color:white;
    color: rgb(66, 0, 128); /* White text */
  }
  .checked {
    color: orange;
  }
